$color-white: #fff;
$color-black: #000;
$color-grey: #131410;
$color-grey-dark: #0b0c09;
$color-grey-light: #31332b;
$color-font: #e6e9e1;
$color-font-dark: #8f9487;
$color-primary: #8dc21f;
$color-primary-light: #ddf894;
$color-primary-dark: #6e8d14;
$color-secondary: #41b9aa;
$color-secondary-light: #84fdee;
$color-secondary-dark: #15a492;
$color-red: #ca1c11;
