$font-size: 20px;
$breakpoint-small: 900px;
$breakpoint-medium: 1300px;
$breakpoint-large: 1680px;
$breakpoint-ultra: 2000px;
$box-width: 1280px;
$global-spacer: 80px;
$global-border-radius: 30px;
$global-transition: all 0.05s;
$font-family: "Open Sans", Arial, sans-serif;
$font-secondary: "Poppins", sans-serif;
